dist: xenial   # required for Python >= 3.7
language: python
python:
  - "3.7"

# reduce log clutter
cache: bundler

before_install:
  - cd jekyll && gem update bundler

# command to install dependencies
# This was obtained by running $pip freeze > requirements.txt
install:
  - pip install -r requirements.txt
  - cd jekyll && bundle install

script:
  - set -e # Enable error reporting to the console
  - cd scripts
  - find -name "*.py" -exec python {} ${GITHUB_API_TOKEN} \;

branches:
  except:
  - live

deploy:
  provider: script
  script: "./scripts/build.sh"
  skip_cleanup: true
  github_token: ${GITHUB_DEPLOY_TOKEN}  # Set in the settings page of your repository, as a secure variable
  keep_history: true
  target_branch: live
  verbose: true
  on:
    branch: master

# command to run tests
#script:
#  - py.test -v --color=yes --exitfirst --showlocals --durations=5
#
#after_success:
#  - python websiteGen.py GITHUB_API_TOKEN
