<section class="home-section">

  {% assign header = include.title | capitalize %}
  {% include linkedHeading.html heading=header headerlevel=2 %}
  <div>
    <ul class="post-list">
      {%- for info in include.infoPages -%}
        <li class="home-li">
          {% capture image_path %}/assets/images/{{ info.category }}/{{ info.logo }}{% endcapture %}
          {% capture image_path_webp %}/assets/webp/{{ info.logo | replace: ".jpg", ".webp" | replace: ".png", ".webp" }}{% endcapture %}
          {% capture image_alt %}{{ info.title }}{% endcapture %}

          {% if info.collection == "challenges" %}
          <a href="{{ info.url }}">
          {% else %}
          <a href="{{ info.link }}" target="_blank" rel="noopener noreferrer">
          {% endif %}
            {% include images-handler.html filename=image_path webp=image_path_webp alt=image_alt %}
            <h3 class="thumbnail-title">{{ info.title | escape }}</h3>
          </a>
          <hr>
          <div>
            <ul>
              <li class="post-meta role">{{ info.sub-title }}</li>
              {%- if info.description -%}
              <li class="post-meta">{{ info.description }}</li>
              {%- endif -%}
              <li class="post-meta">
                <svg class="svg-icon" width="16px" height="16px">
                  <use xlink:href="/assets/icons/gamefolio-regular-icons.svg#map-marker"></use>
                </svg>
                {{ info.localisation }}
              </li>
              <li class="post-meta">
                <svg class="svg-icon" width="16px" height="16px">
                  <use xlink:href="/assets/icons/gamefolio-regular-icons.svg#calendar"/>
                </svg>
                {{ info.start-dates | join: ', ' }}
                {%- if info.end-date -%}
                  -{{ info.end-date }}
                {%- else -%}
                  -Present
                {%- endif -%}
              </li>
              {%- for highlight in info.highlights -%}
              <li class="post-meta">
                <svg class="svg-icon" width="16px" height="16px">
                  <use xlink:href="/assets/icons/gamefolio-regular-icons.svg#star"/>
                </svg>
                {{- highlight -}}
              </li>
              {%- endfor -%}
            </ul>
            {%- if site.show_excerpts -%}
            {{ info.excerpt }}
            {%- endif -%}
          </div>
        </li>
      {%- endfor -%}
    </ul>
  </div>
</section>
