{% assign info_groups = site.additional-infos | group_by: "category" %}
{% for info_group in info_groups %}
<section class="home-section">

  <h2 class="page-heading">{{ info_group.name | capitalize }}</h2>
  <div>
    <ul class="post-list">
      {% assign sorted_infos = info_group.items | sort:"start-dates", "first" | reverse | where:"display", "true" %}

      {%- for info in sorted_infos -%}
        <!--{{ info.start-dates[0] }}-->
        <li class="home-li">
          {% capture image_path %}/assets/images/{{ info.category }}/{{ info.logo }}{% endcapture %}
          {% capture image_path_webp %}/assets/webp/{{ info.logo | replace: ".jpg", ".webp" | replace: ".png", ".webp" }}{% endcapture %}
          {% capture image_alt %}{{ info.title }}{% endcapture %}
          <!--<img src="{{ info.logo }}" alt="{{ info.title }}-thumbnail"/>-->
          <a href="{{ info.link }}" target="_blank" rel="noopener noreferrer">
            {% include images-handler.html filename=image_path webp=image_path_webp alt=image_alt %}
          </a>
          <div>
            <h3 class="project-heading post-link">{{ info.title | escape }}</h3>
            <ul>
              <li class="post-meta">
                <div>
                  <span class="role">{{ info.sub-title }}</span>
                  {%- if info.description -%}
                  <span>{{ info.description }}</span>
                  {%- endif -%}
                </div>
              </li>

              <li class="post-meta extra-info">
                <ul>
                  <li>
                    <svg class="svg-icon">
                      <use xlink:href="/assets/icons/gamefolio-regular-icons.svg#map-marker"></use>
                    </svg>
                    {{ info.localisation }}
                  </li>
                  <li>
                    <svg class="svg-icon">
                      <use xlink:href="/assets/icons/gamefolio-regular-icons.svg#calendar"/>
                    </svg>
                    {{ info.start-dates | join: ', ' }}
                    {%- if info.end-date -%}
                      -{{ info.end-date }}
                    {%- endif -%}
                  </li>
                </ul>
              </li>
            </ul>
            {%- if site.show_excerpts -%}
            {{ info.excerpt }}
            {%- endif -%}
          </div>
        </li>
      {%- endfor -%}
    </ul>
  </div>
</section>
{%- endfor -%}