{% assign info_groups = site.additional-infos | group_by: "category" %}
{% for info_group in info_groups %}
<section class="home-section">

  <h2 class="page-heading">{{ info_group.name | capitalize }}</h2>
  <div>
    <ul class="post-list">
      {% assign sorted_infos = info_group.items | sort:"start-dates", "first" | reverse %}

      {%- for info in sorted_infos -%}
        <!--{{ info.start-dates[0] }}-->
        <li class="home-li">
          {% capture image_path %}/assets/images/{{ info.category }}/{{ info.logo }}{% endcapture %}
          {% capture image_path_webp %}/assets/webp/{{ info.logo | replace: ".jpg", ".webp" | replace: ".png", ".webp" }}{% endcapture %}
          {% capture image_alt %}{{ info.title }}{% endcapture %}
          <!--<img src="{{ info.logo }}" alt="{{ info.title }}-thumbnail"/>-->
          {% include images-handler.html filename=image_path webp=image_path_webp alt=image_alt %}
          <div>
            <h3 class="project-heading post-link">{{ info.title | escape }}</h3>
            <ul>
              <li class="post-meta">
                <div>
                  <span class="role">{{ info.sub-title }}</span>
                  <br>
                  <span>{{ info.description }}</span>
                </div>
              </li>

              <li class="post-meta">
                <table>
                  <tr>
                    <!--
                    <td>
                      <svg class="svg-icon">
                        <use xlink:href="/assets/icons/gamefolio-regular-icons.svg#building">
                        </use>
                      </svg>
                      {{ experience.full-name }}
                    </td>
                    -->
                    <td>
                      <svg class="svg-icon">
                        <use xlink:href="/assets/icons/gamefolio-regular-icons.svg#map-marker">
                        </use>
                      </svg>
                      {{ info.localisation }}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <svg class="svg-icon">
                        <use xlink:href="/assets/icons/gamefolio-regular-icons.svg#calendar">
                        </use>
                      </svg>
                      {{ info.start-dates | join: ', ' }}
                      {%- if info.end-date -%}
                        -{{ info.end-date }}
                      {%- endif -%}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <svg class="svg-icon">
                        <use xlink:href="/assets/icons/gamefolio-regular-icons.svg#link">
                        </use>
                      </svg>
                      <a href="{{ info.link }}">
                        {% assign link_name = info.link | remove_first:'https://' | remove_first:'http://' %}
                        {%- if link_name.size < 25 -%}
                          {{ link_name }}
                        {%- else -%}
                          {{ info.title | escape }}
                        {%- endif -%}
                      </a>
                    </td>
                  </tr>
                </table>
              </li>
            </ul>
            {%- if site.show_excerpts -%}
            {{ info.excerpt }}
            {%- endif -%}
          </div>
        </li>
      {%- endfor -%}
    </ul>
  </div>
</section>
{%- endfor -%}