<section class="home-section">
  <h2 class="page-heading">{{ include.title | capitalize }}</h2>
  <div>
    <ul class="post-list">
      {% assign challengeCategories = include.infoPages.docs | group_by: 'category' %}
      {%- for challengeCategory in challengeCategories -%}
        <li class="home-li">
          {% assign category = site.challenges-description | where: "ref", challengeCategory.name | first %}

          {% capture image_path %}/assets/images/challenges/{{ category.logo }}{% endcapture %}
          {% capture image_path_webp %}/assets/webp/{{ category.logo | replace: ".jpg", ".webp" | replace: ".png", ".webp" }}{% endcapture %}
          {% capture image_alt %}{{ challenge.title }}{% endcapture %}

          <a href="challenges/#{{ category.name | slugify }}">
            {% include images-handler.html filename=image_path webp=image_path_webp alt=image_alt %}
            <h3 class="thumbnail-title">{{ category.name | escape }}</h3>
          </a>
          <hr>
          <div>
            <ul>
              {%- if category.sub-title -%}
              <li class="post-meta role">{{ category.sub-title }}</li>
              {%- endif -%}
              {%- if category.description -%}
              <li class="post-meta">{{ category.description }}</li>
              {%- endif -%}
              <li class="post-meta">
                <svg class="svg-icon" width="16px" height="16px">
                  <use xlink:href="/assets/icons/gamefolio-regular-icons.svg#calendar"/>
                </svg>
                {% assign dates = nul %}
                {% for challenge in challengeCategory.items %}
                  {% assign dates = dates | concat: challenge.start-dates %}
                {% endfor %}
                {{ dates | join: ', ' }}
              </li>
            </ul>
          </div>
        </li>
      {%- endfor -%}
    </ul>
  </div>
</section>
