<section class="home-section">
  <h2 class="page-heading">Education</h2>
  <div>
    <ul class="post-list">
      {% assign sorted_education = site.educations | sort:"start-date" | reverse %}
      {%- for education in sorted_education -%}
          <li class="home-li">
            <img src="{{ education.logo }}"/>
            <div>
                <h3 class="project-heading post-link">{{ education.title | escape }}</h3>
                <ul>
                    <li class="post-meta">{{ education.description }}</li>
                    <li class="post-meta">{{ education.start-date }}-{{ education.end-date }}</li>
                    <li class="post-meta">{{ education.localization }}</li>
                    <li class="post-meta"><a href="{{ experience.link }}">{{ education.link }}</a></li>
                </ul>
                {%- if site.show_excerpts -%}
                  {{ education.excerpt }}
                {%- endif -%}
            </div>
          </li>
      {%- endfor -%}
    </ul>
  </div>
</section>
