<section class="home-section">
  <h2 class="page-heading">Experiences</h2>
  <div>
    <ul class="post-list">
      {% assign sorted_experiences = site.experiences | sort:"start-date" | reverse %}
      {%- for experience in sorted_experiences -%}
        <li class="home-li">
          <img src="{{ experience.logo }}"/>
          <div>
            <h3 class="project-heading post-link">{{ experience.title | escape }}</h3>
            <ul>
              <li class="post-meta">
                <div>
                  <span class="role">{{ experience.role }}</span>
                  <br>
                  <span>{{ experience.description }}</span>
                </div>
              </li>

              <li class="post-meta">
                <table>
                  <tr>
                    <td>
                      <svg class="svg-icon">
                        <use xlink:href="/assets/icons/gamefolio-regular-icons.svg#building">
                        </use>
                      </svg>
                      {{ experience.full-name }}
                    </td>
                    <td>
                      <svg class="svg-icon">
                        <use xlink:href="/assets/icons/gamefolio-regular-icons.svg#map-marker">
                        </use>
                      </svg>
                      {{ experience.localisation }}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <svg class="svg-icon">
                        <use xlink:href="/assets/icons/gamefolio-regular-icons.svg#calendar">
                        </use>
                      </svg>
                      {{ experience.start-date }}-{{ experience.end-date }}
                    </td>
                    <td>
                      <svg class="svg-icon">
                        <use xlink:href="/assets/icons/gamefolio-regular-icons.svg#link">
                        </use>
                      </svg>
                      <a href="{{ experience.link }}">{{ experience.link }}</a>
                    </td>
                  </tr>
                </table>
              </li>
            </ul>
            {%- if site.show_excerpts -%}
            {{ experience.excerpt }}
            {%- endif -%}
          </div>
        </li>
      {%- endfor -%}
    </ul>
  </div>
</section>
