<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#ff8c38"/>
  {%- if site.use_seo -%}
  {% seo -%}
  {%- endif -%}
  {% if page.allowindex == false %}
    <meta name="robots" content="noindex nofollow">
    <meta name="googlebot" content="noindex">
  {% endif %}
  <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
  <link rel="manifest" href="{{ '/manifest.json' | relative_url }}">
  <!-- Should be an 180x180 icon. -->
  <!-- See https://stackoverflow.com/questions/5110776/apple-touch-icon-for-websites -->
  <link rel="apple-touch-icon" href="/assets/ghost-cat%5B180x180%5D.png">
  {% if site.use_feed -%}
    {% feed_meta -%}
  {% endif %}
  <!-- Javascript -->
  <script src="/scripts/dark-mode.js"></script>

  <!-- Use https://github.com/ampproject/amphtml/blob/master/extensions/amp-youtube/0.1/test/validator-amp-youtube.html to load youtube video faster -->
  {% if page.youtube-link and page.youtube-link != "" and page.youtube-link != nil %}
  <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-latest.js"></script>
  <script async src="https://cdn.ampproject.org/v0.js"></script>
  {% endif %}

  {%- if site.use_analytics -%}
    {% include google-analytics.html %}
  {%- endif -%}
</head>
