<picture>
    <!-- Begin Pre process -->
    {% capture filename %}{{ include.filename | replace: "[", "%5B" | replace: "]", "%5D" }}{% endcapture %}
    {% capture webp %}{{ include.webp | replace: "[", "%5B" | replace: "]", "%5D" }}{% endcapture %}
    <!-- End Pre process -->
    {%- if include.filename contains ".svg" -%}
    <img src="{{ filename }}" alt="{{ include.alt }}">
    {%- else -%}
    <source type="image/webp" srcset="{{ webp }}" alt="{{ include.alt }}">
    {%- if include.filename contains ".png" -%}
    <source type="image/png" srcset="{{ filename }}" alt="{{ include.alt }}">
    {%- else if include.filename contains ".jpg" -%}
    <source type="image/jpeg" srcset="{{ filename }}" alt="{{ include.alt }}">
    {%- endif -%}
    <img src="{{ filename }}" alt="{{ include.alt }}">
    {%- endif -%}
</picture>