{% assign previous = nil %}
{% assign next = nil %}
{% assign done = false %}
{% assign sorted_pages = site.projects | where: "category", page.category | sort:"priority" %}  
{% for test in sorted_pages %}
  {% if test.title == page.title %}
    {% assign done = true %}
  {% elsif done == true %}
    {% assign next = test %}
    {% break %}
  {% else %}
    {% assign previous = test %}
  {% endif %}
{% endfor %}

<nav class="project-nav">
  {% if previous and next %}
  <a class="project-nav-full" href="{{ previous.url }}">Previous : {{ previous.title }}</a>
  <a class="project-nav-full" style="float: right; text-align: right;" href="{{ next.url }}">Next : {{ next.title }}</a>
  {% elsif previous %}
  <a class="project-nav" href="{{ previous.url }}">Previous : {{ previous.title }}</a>
  {% elsif next %}
  <a class="project-nav" style="width:100%; text-align: right;" href="{{ next.url }}">Next : {{ next.title }}</a>
  {% endif %}
</nav>