<section class="home-section">
  <h2 class="page-heading">Some Projects</h2>
  <div>
    <ul class="project-list">
      {% assign sorted_pages = site.project-pages | sort:"last-update-days" %}
      {%- for project in sorted_pages -%}
        <!-- Only show the 3 latests post here -->
        {%- if forloop.index <= 4 -%}
          <li class="project-li">
            {% include project-thumbnail.html %}
          </li>
        {%- endif -%}
      {%- endfor -%}
    </ul>
  </div>
  <a class="button-link" href="projects/">
    See more
    <svg class="svg-icon svg-project" style="fill: black;">
      <use xlink:href="{{ '/assets/icons/gamefolio-regular-icons.svg#angle-double-right' }}">
      </use>
    </svg>
  </a>
</section>
