<!--
 * /!\ The variable project need to be assign in order to use this sections
 -->
{% assign escaped_project_title = project.title | replace:  "(", '' | replace:  ")", '' | downcase %}
{%- capture image_path -%}/assets/project-images/{{ escaped_project_title }}/{{ escaped_project_title }}-thumbnail.png{%- endcapture -%}
{%- capture image_path_webp -%}/assets/webp/{{ escaped_project_title }}-thumbnail.webp{%- endcapture -%}
{%- capture image_alt -%}{{ escaped_project_title }}-thumbnail{%- endcapture -%}
<!-- Indicate what the main language used in this project  -->
{%- if project.languages -%}
  {% assign main_language = project.languages | first %}
  <div class="project-language">
    <svg class="svg-icon svg-project" width="16px" height="16px" style="fill: {{ main_language.color }}">
      <use xlink:href="{{ '/assets/icons/gamefolio-regular-icons.svg#circle' }}">
      </use>
    </svg>
    <span>{{ main_language.name }}</span>
  </div>
{%- else -%}
<div class="test-li" style="padding-top: 25px;">
{%- endif -%}
  <a href="{{ project.url | relative_url }}">
    {%- include images-handler.html alt=image_alt filename=image_path webp=image_path_webp -%}
  </a>
  <div class="project-overview">
    <h3 class="project-heading">
      <span class="post-link">{{ project.title | replace: '-', ' ' | escape }}</a>
    </h3>
    <p class="post-meta">{{ project.description }}</p>
    <ul class="tagsgame">
      {%- for tag in project.tags -%}
      <li class="tag">{{ tag }}</li>
      {%- endfor -%}
    </ul>
  {%- if project.languages == nil -%}
  </div>
  {%- endif -%}
</div>