<section class="home-section">
  <h2 class="page-heading">Some Projects</h2>
  <div>
    <ul class="project-list">
      {% assign sorted_pages = site.project-pages | sort:"last-update-days" %}
      {%- for page in sorted_pages -%}
        <!-- Only show the 3 latests post here -->
        {%- if forloop.index <= 4 -%}
          <li class="project-li">
            {% capture image_path %}/assets/project-images/{{ page.title }}/{{ page.title }}.png{% endcapture %}
            <div class="test-li">
              <img src="{{ image_path }}"/>
              <div>
                <h3 class="project-heading">
                  <a class="post-link" href="{{ page.url | relative_url }}">
                    {{ page.title | replace: '-', ' ' | capitalize | escape }}
                  </a>
                </h3>
                <span class="post-meta">{{ page.description }}</span>
                {%- if site.show_excerpts -%}
                {{ page.excerpt }}
                {%- endif -%}
                <div class="tagsgame">
                  {%- for tag in page.tags -%}
                  <span class="tag">{{ tag }}</span>
                  {%- endfor -%}
                </div>
              </div>
            </div>
            <div class="repositoryFooter">
              <!-- Indicate what the main language used in this project  -->
              {%- if page.language -%}
              <div>
                <svg class="svg-icon svg-project" style="fill: {{ page.color }};">
                  <use xlink:href="{{ '/assets/icons/gamefolio-regular-icons.svg#circle' }}">
                  </use>
                </svg>
                <span>{{ page.language }}</span>
              </div>
              {%- endif -%}
              <!-- Indicate how many starts this repository received -->
              {%- if page.stargazers-count -%}
              <div>
                <svg class="svg-icon svg-project" style="fill: black;">
                  <use xlink:href="{{ '/assets/icons/gamefolio-regular-icons.svg#star' }}">
                  </use>
                </svg>
                <span>{{ page.stargazers-count }}</span>
              </div>
              {%- endif -%}
              <!-- Indicate the number of fork on this repository -->
              {%- if page.forks-count -%}
              <div>
                <svg class="svg-icon svg-project" style="fill: black;">
                  <use xlink:href="{{ '/assets/icons/gamefolio-regular-icons.svg#code-fork' }}">
                  </use>
                </svg>
                <span>{{ page.forks-count }}</span>
              </div>
              {%- endif -%}
              <!-- Indicate how many days past since any update on that repository -->
              {%- if page.last-update-days -%}
              <div>
                <svg class="svg-icon svg-project" style="fill: black;">
                  <use xlink:href="{{ '/assets/icons/gamefolio-regular-icons.svg#history' }}">
                  </use>
                </svg>
                <span>{{ page.last-update-days }} days ago</span>
              </div>
              {%- endif -%}
            </div>
          </li>
        {%- endif -%}
      {%- endfor -%}
    </ul>
  </div>
</section>
