---
layout: default
---

<div class="home">
    {%- if page.title -%}
        <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    {{ content }}

    <!-- Iterate on the project-page collection -->
    {%- if site.project-pages.size > 0 -%}
    {% assign groups = site.project-pages | group_by: "category" | sort: "name" %}
    {% for group in groups %}
    {% assign current_color = '#e8e8e880' %}
    {%- if forloop.index0 != 0 -%}
        <br/>
    {%- endif -%}
    <h2 class="page-heading">{{ group.name | capitalize }} projects</h2>
    <ul class="project-list">
        <!--{% assign sorted_pages = group.items | sort:"last-update-days" %}-->
        {% assign sorted_pages = group.items | sort:"priority" %}
        {%- for project in sorted_pages -%}

        {% assign new_section = forloop.index | minus:1 | modulo:2 %}
        {%- if new_section == 0 -%}
            {%- if current_color == '#e8e8e880' -%}
                {% assign current_color = '#ffffff' %}
                <div style="background-color: {{ current_color }} ;">
            {%- else -%}
                {% assign current_color = '#e8e8e880' %}
                <div class="project-line" style="background-color: {{ current_color }} ;">
            {%- endif -%}
        {%- endif -%}
            <li class="project-li">
                {% include project-thumbnail.html %}
            </li>
        {%- if new_section == 1 -%}
        </div>
        {%- endif -%}
        {%- endfor -%}
    </div>
    {% endfor %}
    {%- endif -%}
</div>
