---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/VideoGame">

  <header class="post-header">
    <div class="project-thumbnail">
      <h1 class="project-title p-name" itemprop="name">{{ page.title | replace: '-', ' ' | capitalize | escape }}</h1>
      {% capture image_path %}/assets/project-images/{{ page.title }}/{{ page.title }}-banner.png{% endcapture %}
      <img class="thumbnail-img" src="{{ image_path }}"/>
    </div>
    <p class="project-description">{{ page.description }}</p>
    <p class="post-meta">
      {%- for date in page.key-dates -%}
        <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          {{ date | date: date_format }}
        </time>
      {%- endfor -%}
    </p>

    {% assign percentage_covered = 0.0 %}
    <div class="linguist_bar">
      {%- for language in page.languages -%}
        {%- if forloop.index < 7 or language.percentage > 1.0 -%}
          {% assign percentage_covered = percentage_covered | plus:language.percentage %}
          <div style="background: {{ language.color }}; width: {{ language.percentage }}%;"></div>
        {%- endif -%}
      {%- endfor -%}

      <!-- Combine all the languages together to avoid having too much stuff at the end -->
      {%- if percentage_covered < 100.0 -%}
        <div style="background: #ccc; width: {{ 100.0 | minus:percentage_covered }}%;"></div>
      {%- endif -%}

    </div>
    <div class="linguist_legend">
      {%- for language in page.languages -%}
        {%- if forloop.index < 7 or language.percentage > 1.0 -%}
          <div>
            <svg class="svg-icon svg-project" style="fill: {{ language.color }};">
              <use xlink:href="{{ '/assets/icons/gamefolio-regular-icons.svg#circle' }}">
              </use>
            </svg>
            <span class="language_name">{{ language.name }}</span>
            <span class="language_percentage">{{ language.percentage }}%</span>
          </div>
        {%- endif -%}
      {%- endfor -%}

      <!-- Combine all the languages together to avoid having too much stuff at the end -->
      {%- if percentage_covered < 100.0 -%}
        <div>
          <svg class="svg-icon svg-project" style="fill: {{ language.color }};">
            <use xlink:href="{{ '/assets/icons/gamefolio-regular-icons.svg#circle' }}">
            </use>
          </svg>
          <span class="language_name">Others</span>
          <span class="language_percentage">{{ 100.0 | minus:percentage_covered }}%</span>
        </div>
      {%- endif -%}
    </div>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    <h2>Overview</h2>

    <aside class="overview_table">
      {%- if page.project_links -%}
      <div>
        <span class="table_title">Links:</span>
        <ul class="social-media-links">
          {%- for link in page.project_links -%}
          <li>
            <a href="{{ link.url | escape }}">
              <svg class="svg-icon">
                <use xlink:href="{{ '/assets/icons/gamefolio-social-icons.svg#' | append: link.name | relative_url }}">
                </use>
              </svg>
            </a>
          </li>
          {%- endfor -%}
        </ul>
      </div>
      {%- endif -%}
      <div>
        <span class="table_title">Platform:</span>
        <ul>
          {%- for platform in page.platforms -%}
            <li itemprop="gamePlatform">{{ platform }}</li>
          {%- endfor -%}
        </ul>
      </div>
      {%- if page.engines -%}
        <div>
          <span class="table_title">Engine:</span>
          <ul>
            {%- for engine in page.engines -%}
              <li itemscope itemtype="https://schema.org/Thing"><span itemprop="name">{{ engine }}</span></li>
            {%- endfor -%}
          </ul>
        </div>
      {%- endif -%}
      {%- if page.tools -%}
        <div>
          <span class="table_title">Tools Used:</span>
          <ul>
            {%- for tool in page.tools -%}
              <li itemscope itemtype="https://schema.org/Thing"><span itemprop="name">{{ tool }}</span></li>
            {%- endfor -%}
          </ul>
        </div>
      {%- endif -%}
      <div>
        <span class="table_title">Duration:</span>
        <ul>
          <li>{{ page.duration }}</li>
        </ul>
      </div>
      <div>
        <span class="table_title">Team Size:</span>
        <ul>
          {%- for group in page.team-size -%}
            <li>{{ group.role }} : {{ group.amount }}</li>
          {%- endfor -%}
        </ul>
      </div>
      <div>
        <span class="table_title">Main Role:</span>
        <ul>
          {%- for role in page.main-roles -%}
            <li>{{ role }}</li>
          {%- endfor -%}
        </ul>
      </div>
    </aside>

    <!--<aside class="overview_table">
      <div>
        <span class="table_title">Platform:</span>
        <ul>
          {%- for platform in page.platforms -%}
          <li itemprop="gamePlatform">{{ platform }}</li>
          {%- endfor -%}
        </ul>
      </div>
      {%- if page.engines -%}
      <div>
        <span class="table_title">Engine:</span>
        <ul>
          {%- for engine in page.engines -%}
          <li itemscope itemtype="https://schema.org/Thing"><span itemprop="name">{{ engine }}</span></li>
          {%- endfor -%}
        </ul>
      </div>
      {%- endif -%}
      {%- if page.tools -%}
      <div>
        <span class="table_title">Tools Used:</span>
        <ul>
          {%- for tool in page.tools -%}
          <li itemscope itemtype="https://schema.org/Thing"><span itemprop="name">{{ tool }}</span></li>
          {%- endfor -%}
        </ul>
      </div>
      {%- endif -%}
      <div>
        <span class="table_title">Duration:</span>
        <ul>
          <li>{{ page.duration }}</li>
        </ul>
      </div>
      <div>
        <span class="table_title">Team Size:</span>
        <ul>
          <li>{{ page.team-size }}</li>
        </ul>
      </div>
      <div>
        <span class="table_title">Main Role:</span>
        <ul>
          {%- for role in page.main-roles -%}
          <li>{{ role }}</li>
          {%- endfor -%}
        </ul>
      </div>
    </aside>-->

    <div class="side_overview">

      <h4>Project Pitch</h4>
      {{ page.pitch | markdownify }}

      {%- if page.additional-sections -%}
      {%- for section in page.additional-sections -%}
      <h4>Project {{ section.name }}</h4>
      <ul class="ul_goal">
        {%- for item in section.list -%}
        <li>&rarr; {{ item }}</li>
        {%- endfor -%}
      </ul>
      {%- endfor -%}
      {%- endif -%}
    </div>

    <article class="detailed_description">

      <!-- Should use jekyll tag to place it in the right place. -->
      {%- if page.youtube-link -%}
      <h2><span class="fa fa-gamepad" aria-hidden="true"></span> Gameplay video</h2>
      <section class="gameplay_section">
        <iframe width="500" height="300" src="{{ page.youtube-link }}" allowfullscreen="allowfullscreen"
                mozallowfullscreen="mozallowfullscreen"
                msallowfullscreen="msallowfullscreen"
                oallowfullscreen="oallowfullscreen"
                webkitallowfullscreen="webkitallowfullscreen">
        </iframe>
      </section>
      {%- endif -%}

      {{ content }}

    </article>
  </div>

  <!-- Trigger the Modal -->
  <!--<img id="myImg" src="img_snow.jpg" alt="Snow" style="width:100%;max-width:300px">-->

  <!-- The Modal -->
  <div id="myModal" class="modal">

    <!-- The Close Button -->
    <span class="close">&times;</span>

    <!-- Modal Content (The Image) -->
    <img class="modal-content" id="img01">

    <!-- Modal Caption (Image Text) -->
    <div id="caption"></div>
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

<script>
  // Get the modal
  var modal = document.getElementById("myModal");
  modal.onclick = function() {
    modal.style.display = "none";
  }

  // Get the image and insert it inside the modal - use its "alt" text as a caption
  var modalImg = document.getElementById("img01");
  var captionText = document.getElementById("caption");
  function zoom(element){
    modal.style.display = "block";
    console.log(element.src);
    console.log(element.alt)
    modalImg.src = element.src;
    captionText.innerHTML = element.alt;
  }

  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];

  // When the user clicks on <span> (x), close the modal
  span.onclick = function() {
    modal.style.display = "none";
  }
</script>
