---
layout: default
---

<div class="home">
    {%- if page.title -%}
        <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    {{ content }}

    <!-- Iterate on the project-page collection -->
    {%- if site.projects.size > 0 -%}
        {% for group in site.project_categories_ordered %}
            {% assign current_color = '#e8e8e880' %}
            {% assign sorted_pages = site.projects | where: "category", group | sort:"priority" %}
            {%- if sorted_pages.size > 0 -%}
                {% assign header = group | capitalize | append: ' projects' %}
                {% include linked-heading.html heading=header headerlevel=2 %}
                <ul class="project-list">
                {%- for project in sorted_pages -%}
                    {% assign new_section = forloop.index | minus:1 | modulo:1 %}
                    {%- if new_section == 0 -%}
                    {%- if current_color == '#e8e8e880' -%}
                    {% assign current_color = '#ffffff' %}
                    <li  class="project-li" style="background-color: {{ current_color }} ;">
                    {%- else -%}
                    {% assign current_color = '#e8e8e880' %}
                    <li  class="project-li" style="background-color: {{ current_color }} ;">
                    {%- endif -%}
                    {%- endif -%}
                        {% include project-thumbnail.html %}
                    </li>
                {%- endfor -%}
                </ul>
            {%- endif -%}
        {%- endfor -%}
    {%- endif -%}
</div>
