#resume {
    text-align: center;
}


#resume > a {
	display: inline-block;
	padding: 15px;
	color: white;
	border-radius: 10px;
	background-color: #333;
	text-decoration: none;
	border: 2px solid lightgray;
}
