

/*
@font-face {
    font-family: consolas;
    src: url(Consolas.ttf);
}*/

html
{
  background: #000; /* Old browsers */
  background: -moz-linear-gradient(top,  #000 10%, #3737d1 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,#3737d1), color-stop(100%,#dc5494)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #000 10%,#3737d1 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #000 10%,#3737d1 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #000 10%,#3737d1 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #000 10%,#3737d1 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f886bc', endColorstr='#3737d1',GradientType=0 ); /* IE6-9 */
}


body
{

}

a
{
	color: #fff;
	text-decoration: none;
}

a:hover
{
	//color: #ffc333;
	color: #ff96b4;
	text-decoration: none;
}

#content
{
	display:block;
	//height:2000px;
}


#main
{
	display:block;
	margin-left: 60px;
	margin-top: 60px;
}

/* First part of games*/
#game
{
  display: flex;
  flex-direction: row;
	margin-top:42px;
}

.first-item
{
  order: -1;
  text-align: right;
  margin-right: 30px;
  margin-left: 0px;
}

#game a
{
  align-self: center;
  width:20%;
}

#gifgame
{
	border:1px solid #;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
  width: 100%;
  max-width: 220px;
  min-width: 100px;
  max-height: 220px;
  min-height: 100px;
	-webkit-box-shadow: 0px 2px 6px 0px rgba(44,46,80,0.25);
	-moz-box-shadow: 0px 2px 6px 0px rgba(44,46,80,0.25);
	box-shadow: 0px 2px 6px 0px rgba(44,46,80,0.25);
}

.projectIcon
{
  width: 66px;
}

.textgame
{
	display:flex;
  flex-direction: column;
  justify-content: center;
	/*height: 175px;*/
	margin-left: 30px;
  width: 75%;
}

#titlegame
{
	color: #fff;
	font-family: 'Noto Serif';
	font-style: italic;
	font-size: 80px;
	/*margin-top: 10px;*/
	/*letter-spacing: 6px;*/

}

#intro
{
	color: #fff;
	font-family: consolas;
	font-size: 24px;
	margin-top: 60px;
	margin-bottom: 60px;

}

#linkintro
{
	color: #ffcd34;

}

#linkintro a:hover
{
	color: #fff;

}

#titlegame a:hover
{

}

#descgame
{
	color: #fff;
	font-family: consolas;
	font-size: 18px;
}

#top
{
  display:flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
	margin-left: 40px;
	margin-top: 40px;
}


.link
{
  display: inline-block;
	//background-color: #00ff00;
	width:170px;
	height:50px;
	margin-left: 25px;
	color: #fff;
	font-family: consolas;
	font-size: 22px;
  text-align: center;
}

.link a
{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.iconlink
{
	display:inline-block;
	border:1px solid #;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	width:50px;
	height:50px;
	float:left;
}

.textlink
{
  display: inline-block;
  text-align: left;
  min-width: 100px;
  margin-left: 10px;
	margin-top: 11px;
}

.link a:hover
{

	//font-weight: bold;
}

#game:hover
{


}

/* Second parts of games */

#minimain
{
	display:block;
	margin-left: 150px;
	margin-top: 60px;
}

#minigame
{
	display:block;
	margin-top:16px;
	margin-bottom:16px;
}


#minipicgame
{
	display:inline-block;
	border:1px solid #;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width:90px;
	height:90px;
	float:left;

	-webkit-box-shadow: 0px 1px 5px 0px rgba(44,46,80,0.2);
	-moz-box-shadow: 0px 1px 5px 0px rgba(44,46,80,0.2);
	box-shadow: 0px 1px 5px 0px rgba(44,46,80,0.2);
}

#minitextgame
{
	display:inline-block;
	height: 100px;
	margin-left: 30px;
}

#minititlegame
{
	color: #fff;
	font-family: 'Noto Serif';
	font-style: italic;
	font-size: 34px;
	margin-top: 10px;
	letter-spacing: 4px;
}

#minidescgame
{
	color: #fff;
	font-family: consolas;
	font-size: 16px;
}
