

/*
@font-face {
    font-family: consolas;
    src: url(Consolas.ttf);
}*/

html
{
  background: #222;
  background-color: #113;
}


body
{

}

a
{
	color: #fff;
	text-decoration: none;
}

a:hover
{
	color: #9a9a4d;
	text-decoration: none;
}

h1
{
  color: white;
  text-align: center;
}

#content
{
	display:block;
	//height:2000px;
}


#main
{
	display:block;
	padding-left: 4%;
	padding-top: 60px;
  margin-right: 1%;
}

/* First part of games*/
.game
{
  display: flex;
  flex-direction: row;
	margin-top: 22px;
}

/* Helpers */

.right
{
  text-align: right;
}

.left
{
  text-align: left;
}

.game a
{
  align-self: center;
  position: relative;
}

.gifgame
{
  border:1px solid #;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  width: 100%;
  max-width: 150px;
  min-width: 150px;
  max-height: 150px;
  min-height: 150px;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(44,46,80,0.25);
  -moz-box-shadow: 0px 2px 6px 0px rgba(44,46,80,0.25);
  box-shadow: 0px 2px 6px 0px rgba(44,46,80,0.25);
}

.playicon
{
  opacity: 0;
  margin: auto;
  width: 100%;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.game > a:hover :nth-child(2)
{
  opacity: 1.0;
}

.projectIcon
{
  width: 66px;
}

.repoHeader
{
  display:flex;
  flex-direction: row;
  align-self: left;
  align-items: center;
  justify-content: space-between;
}

.textgame
{
	display:flex;
  flex-direction: column;
  align-self: center;
  /*justify-content: center;*/
  /*position: relative;*/
	/*height: 175px;*/
	margin-left: 30px;
  margin-right: 30px;
  width: 100%;
}

/*
.floatSide
{
  display:inline;
  width: auto;
  text-align: center;
}*/

.titlegame
{
	color: #fff;
	font-family: 'Noto Serif';
	font-style: italic;
	font-size: 60px;
  /* Remove h2 style */
  margin: 0;
  font-weight: normal;

	/*margin-top: 10px;*/
	/*letter-spacing: 6px;*/

}

#intro
{
	color: #fff;
	font-family: consolas;
	font-size: 24px;
	text-align: center;

}

#linkintro
{
	color: #ffcd34;

}

#linkintro a:hover
{
	color: #fff;

}

#titlegame a:hover
{

}

#descgame
{
	color: #fff;
	font-family: consolas;
	font-size: 18px;
}

#top
{
  display:flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
	margin-left: 40px;
	margin-top: 40px;
}

.infogame
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.link
{
  display: inline-block;
	//background-color: #00ff00;
	width:170px;
	height:50px;
	margin-left: 25px;
	color: #fff;
	font-family: consolas;
	font-size: 22px;
  text-align: center;
}

.link a
{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.iconlink
{
	display:inline-block;
	border:1px solid #;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	float:left;
}

.textlink
{
  display: inline-block;
  text-align: left;
  min-width: 100px;
  margin-left: 10px;
	margin-top: 11px;
}

.repositoryFooter
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  color: white;
}

.link a:hover
{

	//font-weight: bold;
}

.tagsgame
{
  margin-top: 5px;
  line-height: 1.5em;
}

.tag
{
  padding: .3em .9em;
  font-family: Tahoma, Helvetica, Georgia, Arial;
  font-size: 0.75em;
  font-weight: 600;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  /*border-radius: 8px;*/

  background-color: rgb(105, 120, 3);
  border: 2px solid rgb(1, 41, 53);
}

.contributorIcon
{
  width: 20px;
}

.externallinks
{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.externallinks a
{
  margin-right: 10px;
}

.externallinks a:hover
{
	color: #9a9a4d;
	text-decoration: none;
}

.game:hover
{


}

/* Second parts of games */
#minimainleft
{
	display:block;
	margin-left: 10%;
}

#minimainright
{
	display:block;
	margin-right: 10%;
	margin-top: 60px;
}

.minigame
{
  display: flex;
  flex-direction: row;
	margin-top:16px;
	margin-bottom:16px;
}


.minipicgame
{
	display:inline-block;
	border:1px solid #;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width:90px;
  min-width: 70px;
	height:90px;
  min-height: 70px;
	float:left;

	-webkit-box-shadow: 0px 1px 5px 0px rgba(44,46,80,0.2);
	-moz-box-shadow: 0px 1px 5px 0px rgba(44,46,80,0.2);
	box-shadow: 0px 1px 5px 0px rgba(44,46,80,0.2);
}

.minititlegame
{
  display: inline-block;
	color: #fff;
	font-family: 'Noto Serif';
	font-style: italic;
	font-size: 34px;
	letter-spacing: 4px;
  /* Remove h2 style */
  margin: 0;
  font-weight: normal;
}

#minidescgame
{
	color: #fff;
	font-family: consolas;
	font-size: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    text-align: center;
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 500px;
    height: 500px;
}

iframe {
  width: 99%;
  height: 100%;
  position: absolute;
  left: 0; bottom: 0; right: 0; top: 35px;
}

/* The Close Button */
#close {
    color: #aaa;
    float: right;
    margin-right: 2%;
    font-size: 28px;
    font-weight: bold;
}

#close:hover,
#close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
