/**
 * Site header
 */
.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 3.865;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 4.55;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-top: $spacing-unit / 3.5;
  margin-left: 0;
}

.profil-header {
  display: inline-block;
}

.profil-description {
  margin: 0;
  margin-top: -$spacing-unit / 3;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-small-screen) {
  .project-list {
    margin-left: 0;
    list-style: none;
    text-align: center;

    .project-li {
      margin-bottom: $spacing-unit;
      width: 100%;
      img {
        float: none;
      }
    }
  }
}

/**
 * Page content
 */
.page-content {
  padding: ($spacing-unit / 2) 0;
  flex: 1;

  h2 {
    border-bottom: 2px solid black;
  }
}

.page-heading {
  @include relative-font-size(2);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.project-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;

  table {
    width: auto;
    margin: 0;
    border: 0;
    td {
      border: 0;
      padding: 0;
      min-width: 150px;
      width: $content-width;
    }
  }

  div {
    padding-bottom: 5px;
    .role {
      font-weight: bold;
      display: block;
    }
  }
}

.extra-info {
  overflow: auto;
}

.cv-home {
  /*
  display: inline-block;
  width: 75%;*/
}

.home {
  section {
    margin-bottom: 10px;
  }
}

.project-li {
  padding: 1%;
  margin-bottom: 0 !important;
  vertical-align: top;
  display: inline-block;
  width: 47%;
  min-width: 150px;

  img {
    float: left;
    max-width: 140px;
    min-width: 140px;
    max-height: 140px;
    min-height: 140px;
    margin-right: 1%;
  }
}

.project-heading {
  margin: 0;
  word-break: break-word;
  a {
    display: inline-block;
    min-width: 60%;
  }
}

.tagsgame {
  //float: right;
  //margin-top: 5px;
  //line-height: 1.5em;
}

.tag
{
  padding: 0 .1em 0 .1em;
  display: inline-block;
  font-size: 0.75em;
  color: black;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  margin-right: 5px;
  /*white-space: nowrap;*/
  /*border-radius: 8px;*/

  //background-color: rgb(105, 120, 3);
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.7);
}

.repositoryFooter {
  //display: flex;
  //flex-direction: row;
  //justify-content: space-between;
  //margin-top: 10px;
  div {
    //flex-basis: 25%;
    display: inline-block;
    &:last-child{
      flex-basis: auto;
    }
  }
}

.svg-project {
  vertical-align: middle;
  padding-bottom: 4px;
}

/**
 * Home page
 */
.home-section {
  position: relative;
}

.button-link {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.7);
  text-align: center;
  float: right;
  border-radius: 4px;
  padding: 5px;
  cursor: pointer;
}



.home-li {
  margin-bottom: 0 !important;
  min-height: 150px;
  width: 47%;
  display: inline-block;
  vertical-align: top;

  img {
    float: left;
    width: 150px;
  }

  div {
    vertical-align: middle;

    ul {
      margin: 0 auto;
      list-style: none;
    }
  }
}

.extra-space
{
  padding-bottom: 30px;
}

object {
  p {
    padding: 5px;
  }
}


.offline-ready {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text colo.post-link r */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */

  @include media-query($on-palm) {
    width: 100%;
    bottom: 0;
    left: 0;
    margin-left: 0;
  }

  &.active {
    visibility: visible; /* Show the snackbar */

    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 2s, fadeout 2s 3.5s;
    animation: fadein 2s, fadeout 2s 3.5s;
  }
}
