

.linguist_bar {
	width: 100%;
	height: 7px;
	background: #000;
	div {
		float: left;
		height: 100%;
	}
}

.linguist_legend {
	width: 100%;
	padding-bottom: 5px;
	background: #e8e8e8;
	div {
		display: inline-block;
		padding-right: 1%;
	}
}

.language_name {
	font-weight: 600;
}

.language_percentage {
	font-weight: 600;
	color: #5b636c;
}

/*  Overview Section    */
/*
#overview_section {
	display: block;
}*/

.overview_table {
	float: left;
	/*display: inline-block;*/
	/*min-width: 20%;*/
  width: $content-aside;
	vertical-align: top;
	text-align: left;

	div {
		margin-bottom: 10px;
	}
}

@include media-query($on-small-screen) {
	.overview_table {
		display: inherit;
		width: 100%;

		div {
			display: inline-block;
			width: 49%;
			vertical-align: top;
		}
	}
}

.table_title {
	font-size: 120%;
	font-family: 'customfont';
}

.social-media-links {
	list-style: none;
	margin: 0;
	li {
		display: inline-block;
	}
	li + li {
		padding-left: 8px;
	}
}

/* main article */
.side_overview {
	font-size: 110%;
	max-width: calc((#{$content-width} - (#{$spacing-unit} * 3)));
	text-align: left;
	vertical-align: top;
}

.detailed_description {
	display: inline-block;
	min-width: 100%;
}

.gameplay_section {
	text-align: center;
}

.ul_goal {
	list-style-type: none;
}

.bloc-images {
	img {
		width: 49%;
	}
}

iframe {
	display: inline-block;
	max-width: 100%;
	vertical-align: middle;
}

.carousel {
	text-align: center;
}

.carousel-img {
	width: 20%;
	height: 20%;
}

/**
 ** The Modal (background)
 **/
.modal {
	display: none; /* Hidden by default */
	position: relative;
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100vw; /* Full width */
	height: 100vh; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	max-width: 65vw;
	position: absolute;
	top: 50%;
    left: 50%;
    margin-right: -50%;
	transform: translate(-50%, -50%);
}

/* Modal Image */
.modal-image {
	margin: auto;
	display: block;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
}

@keyframes zoom {
	from {transform:scale(0)}
	to {transform:scale(1)}
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
	.modal-content {
		max-width: 80vw;
	}
}

/* Native Ruins puzzles */
.puzzle {
	margin: 0 auto;
	padding: 2%;
	margin-bottom: 2%;
	display: block;
	text-align: center;
	background-color: lightgray;

	div {
		display: inline-block;
		text-align: left;
		vertical-align: super;
		width: 29%;

		h4 {
			margin: 0;
			font-weight: bold;
		}

		table {
			text-align: center;
		}

		ol {
			padding-left: 20px;
			margin: 0;
			min-width: 50%;
		}
	}

	img {
		vertical-align: top;
		width: 70%;
		display: inline-block;
		border-radius: 10px;
	}

	tbody {
		display: block;
		text-align: left;

		td {
			border: none;
			padding: 0;
		}
	}

	table {
		border: none;

		.bloc > img {
			padding: 5px;
			width: 40px;
		}
	}
}

.puzzle-subtitles {
	display: block;
	font-style: italic;
	border-bottom: 2px solid black;
	margin-bottom: 2%;
}

.horizontal-list li {
	display: inline;
	list-style-type: circle;
}

.bloc-images {
	display: block;
	text-align: center;

	img {
		display: inline-block;
		width: 40%;
	}
}

/**
 * Figures
 */
figure > img {
	display: block;
}
  
figcaption {
	font-size: $small-font-size;
}	


li {
	> ul,
	> ol {
	  margin-bottom: 0;
	}
}

/**
 * Blockquotes
 */
blockquote {
	color: $grey-color;
	border-left: 4px solid $grey-color-light;
	padding-left: $spacing-unit / 2;
	@include relative-font-size(1.125);
	letter-spacing: -1px;
	font-style: italic;
  
	> :last-child {
	  margin-bottom: 0;
	}
}


/**
 * Code formatting
 */
pre,
code {
	@include relative-font-size(0.9375);
	border: 1px solid $grey-color-light;
	border-radius: 3px;
	background-color: #eef;
}


code {
	padding: 1px 5px;
}
  
pre {
	padding: 8px 12px;
	overflow-x: auto;
  
	> code {
	  border: 0;
	  padding-right: 0;
	  padding-left: 0;
	}
}

.bloc-aside {
	float: right;
}
  
.post-list-heading {
	@include relative-font-size(1.75);
}
  
.post-link {
	display: block;
	@include relative-font-size(1.5);
  
	.emoji {
	  vertical-align: inherit;
	}
}


  /**
 * Posts
 */
 /* header override */
.post-header {
	text-align: center;
	margin-bottom: ($spacing-unit / 2);
  
	.emoji {
	  vertical-align: bottom;
	  width: 40px;
	  height: 40px;
	}
  }
  
  .post-title {
	@include relative-font-size(2.625);
	letter-spacing: -1px;
	line-height: 1;
  
	@include media-query($on-laptop) {
	  @include relative-font-size(2.25);
	}
}
  
.post-content {
	margin-bottom: $spacing-unit;
  
	h2 {
	  @include relative-font-size(2);
  
	  @include media-query($on-laptop) {
		@include relative-font-size(1.75);
	  }
	}
  
	h3 {
	  @include relative-font-size(1.625);
  
	  @include media-query($on-laptop) {
		@include relative-font-size(1.375);
	  }
	}
  
	h4 {
	  @include relative-font-size(1.25);
  
	  @include media-query($on-laptop) {
		@include relative-font-size(1.125);
	  }
	}
}


  /**
 * Posts Projects
 */

.project-thumbnail {
	position: relative;
}
  
.project-title {
	@include relative-font-size(2.650);

	@include media-query($on-palm) {
		@include relative-font-size(2);
		white-space: normal;
	}

	// letter-spacing: -1px;
	line-height: 1;
	color: #ffffff;
	text-shadow: 4px 2px #030303;
	background-color: rgb(85, 85, 85);
	padding: 5px;
	// text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000; 
	white-space: nowrap;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	box-shadow: 0 0 12px 15px rgba($color: #464646, $alpha: 0.9);
}
  
.project-description {
	@include relative-font-size(1.225);
	letter-spacing: -1px;
	line-height: 1;
  
	@include media-query($on-laptop) {
		@include relative-font-size(1);
	}
  
	font-style: italic;
	margin-top: 10px;
}
  
.thumbnail-img {
	width: 99%;
	max-height: 190px;
	height: 20vh;
	object-fit: cover;
	border: 5px solid black;
	vertical-align: middle;
}

@media only screen and (min-width: $content-width) {
    .thumbnail-img {
		width: 930px;
		max-width: 100%
    }
}

@media only screen and (max-width: $content-width) {
    .thumbnail-img {
		width: 100vw;
		max-width: 98%
    }
}

@media only screen and (max-width: $banner-resize-width) {
    .thumbnail-img {
		width: 400px;
		max-width: 97%
    }
}

.resume-link {
	box-shadow: 0 1px 6px 0 rgba(32,33,36,0.7);
	border-radius: 4px;
	padding: 10px;
}

/**
 * About
 */
.about-content {
	text-align: center;
	figure {
	  text-align: center;
	  margin-left: 30%;
	  margin-right: 30%;
	}
}
  
.about-img {
	text-align: center;
	width: 30%;
}


.project-li {
	.project-container {
	  height: 100%;
	  padding-top: 1%;  /* Should be remove... */
	  vertical-align: middle;
	  display: block;
	}
	.project-content {
	  min-height: 140px;
	}
	.project-language{
	  float: right;
	}
	&:last-child {
	  /*border-bottom: 1px solid black;*/
	}
}